<noscript>
  <div class="noscript">
    <p>
      For full functionality of this site it is necessary to enable JavaScript.
      Here are the <a href="http://www.enable-javascript.com/" target="_blank">
        instructions how to enable JavaScript in your web browser</a>.
      </p>
    </div>
  </noscript>

  <script type="text/javascript">
    document.body.className += " js";
  </script>
  <!--[if lt IE 8]>
  <p class="browserupgrade">
  You are using an <strong>outdated</strong> browser.
  Please <a href="http://browsehappy.com/">upgrade your browser</a> to
  improve your experience.</p>
  <![endif]-->

<header class="site__header">
  {% include nav.html %}
  <div class="box">

    <div class="container u-text-center">
      <h1 class="page-title">{{ page.title }}</h1>
      <p class="page-description">{{ page.description }}</p>
    </div>

  </div>
</header>
