<nav class="site-nav">
  <div class="container u-clearfix">
    <a class="site-nav__link" href="/">Duedate</a>
    <ul class="site-nav__links">
      <li class="site-nav__item">
        <a class="site-nav__link" href="/">Assigments</a>
      </li>
      <li class="site-nav__item">
        <a class="site-nav__link" href="/timetable.html">Timetable</a>
      </li>
      <li class="site-nav__item">
        <a class="site-nav__link" href="/resources.html">Resources</a>
      </li>
    </ul>
  </div>
</nav>
